example/wn.dtd

<!ELEMENT SYNSET (ID, POS, SYNONYM, ILR*, BCS?,  DEF?, USAGE*, SNOTE*, STAMP?) >

<!ELEMENT SYNONYM (LITERAL+) >
<!ELEMENT LITERAL (#PCDATA) >

<!ELEMENT ILR   (#PCDATA) >

<!ELEMENT ID     (#PCDATA) >
<!ELEMENT POS    (#PCDATA) >
<!ELEMENT BCS    (#PCDATA) >
<!ELEMENT DEF    (#PCDATA) >
<!ELEMENT USAGE  (#PCDATA) >
<!ELEMENT SNOTE  (#PCDATA) >
<!ELEMENT STAMP  (#PCDATA) >
<!ATTLIST ILR type #REQUIRED>
<!ATTLIST LITERAL sense #REQUIRED
lnote #IMPLIED>

